<div class="row">
  <div class="col-md-12">
    <a class="floating-edit floating-buttom" id="newSurvey" style="cursor: pointer;">
    </a>
  </div>
  <div class="col-md-8">
    <article class="card mg-bottom-25px">
      <div class="card-block">
        <div class="card-title row">
          <p class="text-left text-blue">{{$t 'family.map.file'}}</p>
        </div>
        <div class="margin-tb-20px row">
          <div class="col-md-2 col-xs-12 col-sm-2">
            <img class="card-img-top img-responsive  img-card" src="/static/images/family-room.png">
          </div>
          <div class="col-md-7 col-xs-12 col-sm-7">
            <p>{{family.code}}</p>
            <p class="text-blue">{{$t 'family.map.contact'}}:
              <span class="text-gray">{{family.person.firstName}} {{family.person.lastName}}</span>
            </p>
            <p class="text-blue">{{$t 'family.map.cell'}}:
              <span class="text-gray">{{family.person.phoneNumber}}</span>
            </p>
            <p class="text-blue">{{$t 'family.map.place'}}:
              <span class="text-gray">{{family.city.city}}, {{family.country.country}}</span>
            </p>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-3">
            <img class="img-responsive" src="static/images/dummy_ubication.png">
          </div>
        </div>
      </div>
    </article>
    <article class="card mg-bottom-25px" style="min-height: 200px;">
      <div class="card-block">
        <div class="card-title row">
          <p class="text-left text-blue">{{$t 'family.map.priorities'}} / {{$t 'family.map.snapshot'}} {{createdAt}}</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="strike-text centered no-data {{ className }}">{{$t 'family.map.no-priority'}}</p>
            <div class="list-priorities">
              {{#each family.snapshot_indicators.indicators_priorities}}
                {{^if this.is_attainment}}
                  <div class="row margin-tb-10px">
                    <div class="col-md-12">
                      <span id="item-number" class="pull-left ">{{[helpers/counter] @index}}</span>
                      <span>{{this.indicator}}</span><br>
                      <span class="text-gray card-text">{{this.reason}}</span>
                    </div>

                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="col-md-4 col-sm-6">
    <!-- Card -->
    <article class="card mg-bottom-25px">
      <div class="card-block">
        <div class="card-title row">
          <p class="text-left text-blue">{{$t 'family.map.indicators'}} / {{$t 'family.map.snapshot'}}</p>
        </div>
        <div class="snapshot-indicators row">
          <div class="light">
            <span class="center-block light-green light-big">{{family.snapshot_indicators.count_green_indicators}}</span>
            <span class="center-block light-yellow light-medium">{{family.snapshot_indicators.count_yellow_indicators}}</span>
            <span class="center-block light-red light-small">{{family.snapshot_indicators.count_red_indicators}}</span>
          </div>
        </div>
      </div>
    </article>
    <article class="card">
      <div class="card-block" id="card-interventions">
        <div class="card-title row">
          <p class="text-left text-blue">{{$t 'family.map.interventions'}}</p>
        </div>
        <div class="row">
          <div id="interventions-list" class="col-md-12 maintenance-watermark">
            <div class="intervenion-item clearfix">
              <div class="col-md-2 col-xs-2 col-sm-2">
                <span class="circle-small circle-red-small"><p class="circle-small-text">D</p></span>
              </div>
              <div class="intervenion-text-content col-md-8 col-xs-8 col-sm-8">
                <p class="text-blue text-left">Security:</p>
                <p class="text-left card-text">It refers to acts of physical violence against the family or against their property, occurringin their residence environment</p>
              </div>
              <div class="col-md-2 col-xs-2 col-sm-2">
                <span class="circle-small circle-success-small mg-top-50"></span>
              </div>
            </div>
            <div class="intervenion-item clearfix">
              <div class="col-md-2 col-xs-2 col-sm-2">
                <span class="circle-small circle-yellow-small"><p class="circle-small-text">D</p></span>
              </div>
              <div class="intervenion-text-content col-md-8 col-xs-8 col-sm-8">
                <p class="text-blue text-left">Read and Write</p>
                <p class="text-left card-text">It allows the family to communicate better to achieve greater economic opportunities, at the same time it allows to promote personal growth.</p>
              </div>
              <div class="intervenion-text-content col-md-2 col-xs-2 col-sm-2">
                <span class="circle-small circle-inprogress-small mg-top-50"></span>
              </div>
            </div>
            <div class="intervenion-item clearfix">
              <div class="col-md-2 col-xs-2 col-sm-2">
                <span class="circle-small circle-red-small"><p class="circle-small-text">A</p></span>
              </div>
              <div class="intervenion-text-content col-md-8 col-xs-8 col-sm-8">
                <p class="text-blue text-left">Phone:</p>
                <p class="text-left card-text">Having telephony service puts the family in easy and fast connection with the world</p>
              </div>
              <div class="col-md-2 col-xs-2 col-sm-2">
                <span class="circle-small circle-failed-small mg-top-50"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
