<div class="row">
  <div class="col-md-16 ">
    <article class="">
        <div id="family-organization-items" class="form-group card-block">
            {{#each organizations}}
             <div class="panel-group" id="faqAccordion">
               <div>
                   <h3 class="text-gray" style="font-size: 20px">{{this.attributes.name}}</h3>
                   <p class="text-gray"> <b>Cod:</b> {{this.attributes.code}}  <b>Estado:</b> {{this.attributes.active}}</p>
               </div>     
               {{#each this.attributes.families}}
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#{{this.id}}">
                        <h4 class="panel-title text-blue">Family: {{this.name}} - {{this.code}}</h4>
                        </div>
                        <div id="{{this.id}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row indicator-list" id="family-snapshot-items-{{this.id}}">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                 
               {{/each}}
               </div>
            {{/each}}
        </div>
    </article>
   </div>
</div>