<button class="btn btn-primary pull-right" id="print" value="{{ header.data.snapshot_indicator_id }}" style="margin-right: 10px;"> Print</button>

<br/><br/>
<li class="list-group-item" id="{{ header.data.snapshot_indicator_id }}">
  <div class="header-indicators-snapshot">
    <h3 class="pull-left"> SNAPSHOT {{ header.date }} </h3>
    <div class="pull-right header-resume">
      <p>{{ header.data.count_red_indicators}}</p>
      <div class="circle-header red " />
      <p>{{ header.data.count_yellow_indicators}}</p>
      <div class="circle-header yellow " />
      <p>{{ header.data.count_green_indicators}}</p>
      <div class="circle-header green " />

    </div>

  </div>
  <br/>
  <hr/>
  <div class="row">
    {{#each data}}
    <div class="col-md-2 col-lg-1 col-sm-2 col-xs-4 col-xm-2 indicator-circle-snapshot">
      <div id="circle" class="circle-content {{ this.clazz }}" data-toggle="tooltip" title="Set priority for this indicator" />
      <p id="indicator-name">{{ this.name }}</p>
      <p hidden id="indicator-value">{{ this.value }}</p>
    </div>
    {{/each}}
  </div>

  <h3 class="{{this.clazz}}" style="font-weight: bold" >My Priorities </h3>
  <table class="table table-hover margin bottom center {{this.clazz}}" id="prioritiesTable">
    <thead class="thead-light">
      <tr>
        <th>Indicator</th>
        <th>Why I don't have it?</th>
        <th>What do I do to attain it?</th>
        <th>When will I have it?</th>
      </tr>
    </thead>
    <tbody id="tbodypriorities">
      {{#each priorities}}
      <tr>
        <td> {{this.indicator}}</td>
        <td> {{this.reason}}</td>
        <td> {{this.action}}</td>
        <td> {{this.estimated_date}}</td>
        <td style="text-align: center;"> <a id="delete"  class="btn btn-danger right" data-id="{{ this.snapshot_indicator_priority_id }}"
        data-toggle="tooltip" title="Remove this priority">
            <span class="glyphicon glyphicon-trash pull-right"></span>
        </a> </td>
      </tr>
      {{/each}}

    </tbody>
  </table>


</li>

<div id="modal-region">
</div>
