<div class="row">
   
  <div class="col-md-12 ">
    <article class="">
         <form>
            <div class="form-group">
                    <button type="button" id="export" class="btn btn pull-right"><i class="fa fa-download"></i> {{$t 'report.snapshot.buttons.export'}} </button>
            </div>
            <br/>
            <br/>
        </form>
        <div id="family-organization-items" class="form-group card-block">
            {{#each organizations}}
             <div class="panel-group" id="snapshotsAccordion">
               <div>
                   <h3 class="text-gray" style="font-size: 20px">{{this.attributes.name}} ({{this.attributes.code}}) 
                       <p class="text-gray pull-right" style="font-size: 20px; "> {{$t 'report.snapshot.status'}}: {{this.attributes.status}}</p></h3>
                   
               </div>     
               {{#each this.attributes.families}}
                    <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#snapshotsAccordion" data-target="#{{this.id}}">
                        <h4 class="panel-title text-blue">{{this.name}} ({{this.code}})  <p class="text-blue pull-right"> {{$t 'report.snapshot.status'}}: {{this.status}} </p> </h4>
                        </div>
                        <div id="{{this.id}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row indicator-list" id="family-snapshot-items-{{this.id}}">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                 
               {{/each}}
               </div>
            {{/each}}
        </div>
    </article>
   </div>
</div>