<div class="card-item">
  <!-- Card -->
  <article class="card">
    <div class="card-block">
      <div class="row card-title">
        <p class="text-left text-blue" title="{{{user.username}}}">{{user.username}}</p>
      </div>
      <a class="answer-area" href="#users/{{user.userId}}">
        <div class="row card-description">
          <h6 class="card-text-sub-title text-blue">{{$t 'user.card.email'}}:</h6>
          {{#if user.email}}
            <p class="card-text" title={{{user.email}}}>{{user.email}}</p>
          {{else}}
            <p class="card-text">&nbsp</p>
          {{/if}}
          <h6 class="card-text-sub-title text-blue">{{organizationLabel}}:</h6>
          <p class="card-text" title={{{organization.name}}}>{{organization.name}}</p>
          <p class="card-text-small">
            <span class="text-blue">&nbsp</span>
          </p>
        </div>
      </a>
      <div class="row card-menu">
        <div class="col-md-6 col-xs-6">
          <a class="card-menu-item card-menu-edit delete-survey-btn" href="#"></a>
        </div>
        <div class="col-md-6 col-xs-6">
          <a class="card-menu-item card-menu-delete delete-survey-btn" href="#"></a>
        </div>
      </div>
    </div>
  </article>
  <!-- .end Card -->
</div>
