<div class="card-item">
  <article class="card">
    <div class="card-block">
      <div class="row card-title">
        <p class="text-left text-blue">{{family.code}}</p>
      </div>
      <div class="row card-image">
        <div class="col-md-12">
          <img class="card-img-top img-responsive  img-card center-block" src="/static/images/family-room.png" alt="" />
        </div>
      </div>
      <div class="row card-description">
        <p class="text-blue">{{family.code}}</p>
        <h5 class="card-text-sub-title text-blue">Contact:</h5>
        <p class="card-text">{{family.person.firstName}} {{family.person.lastName}}</p>
        <h5 class="card-text-sub-title text-blue">ID:</h5>
        <p class="card-text">{{family.person.identificationNumber}}</p>
        <h5 class="card-text-sub-title text-blue">Place:</h5>
        <p class="card-text">{{family.city.city}}, {{family.country.country}}</p>
      </div>
      <div class="row card-menu">
        <div class="col-md-12 col-xs-12">
          <a class="card-menu-item card-menu-delete" href="#" title="Delete this family" style="margin:0 auto"></a>
        </div>
      </div>
    </div>
  </article>
</div>
