
<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-8 ">
    <article class="card">
      <div class="card-block">
        <div class="card-title">
          <h4>{{$t 'home.activity'}}</h4>
        </div>
        <h6 class="text-muted"></h6>
        <ol id="activity-feed-hub" class="activity-feed">
        </ol>
      </div>
    </article>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <article class="card" style="height: 297px;">
          <div class="card-block">
            <div class="card-title">
              <h4>{{$t 'home.number-families'}}</h4>
            </div>
            <br>
            <h3 class="strike">{{organization.dashboard.numberOfFamilies}}</h3>
            <p class="strike-text centered">{{$t 'home.total'}}</p>
          </div>

        </article>
      </div>
      <div class="col-lg-6 col-md-6">
        <article class="card">
          <div class="card-block">
            <div class="card-title">
              <h4>{{$t 'home.indicators'}}
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <div class="text-center">
              <div id="bar-indicators"></div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <article class="card">
          <div class="card-block">
            <div class="card-title">
              <h4>{{$t 'home.top-indicators'}}</h4>
            </div>
            <div class="" style="margin: 20px;">
              <table class="table" id="table-top-indicators">
                <thead>
                  <th>{{$t 'home.indicator'}}</th>
                  <th><img src="/static/images/icon_elipse_rojo_01.png"></th>
                  <th><img src="/static/images/icon_elipse_amarillo_01.png"></th>
                  <th><img src="/static/images/icon_elipse_verde_01.png"></th>
                </thead>
                <tbody>

                  {{#each organization.dashboard.topOfIndicators}}
                  <tr>
                    <td>{{this.indicatorName}}</td>
                    <td>{{this.totalRed}}</td>
                    <td>{{this.totalYellow}}</td>
                    <td>{{this.totalGreen}}</td>
                  </tr>
                  {{/each}}

                </tbody>

              </table>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>


  <!--  -->

</div>
