<div class="navbar-header">

<nav class="navbar">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img src="{{mainItem.logoUrl}}"  class="navbar-brand" id="sub-header-image">
    <a class="text-blue sub-menu-main-title navbar-brand" href="{{mainItem.link}}">{{mainItem.name}}</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">

      {{#each navigationItems}}
      <li>
        <a  class="sub-menu-item" href="{{this.link}}" >{{this.name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>
