<div class="row">
  <div class="col-lg-2 col-sm-4 col-xs-12">

    <article class="card">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2015-01
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
      <a href="#families/{{family.familyId}}/snapshots/1">
      <div class="snapshot-indicators">

          <!-- <img  class="center-block" src="/static/images/icon_semaforo.png"> -->
          <div class="luces">
            <br>
          <span class="center-block" id="green">25</span>
          <span class="center-block" id="yellow">19</span>
          <span class="center-block" id="red">10</span>
          </div>

      </div>
        </a>
    </article>

  </div>

  <div class="col-md-3 col-xs-6 ">

    <article class="card">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2016-04
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
      <a href="#families/{{family.familyId}}/snapshots/2">
        <div class="snapshot-indicators" >
          <div class="luces">
            <br>
            <span class="center-block" id="green">{{family.snapshot_indicators.count_green_indicators}}</span>
            <span class="center-block" id="yellow">{{family.snapshot_indicators.count_yellow_indicators}}</span>
            <span class="center-block" id="red">{{family.snapshot_indicators.count_red_indicators}}</span>
          </div>
          <!-- <img  class="center-block" src="/static/images/icon_semaforo.png"> -->
        </div>
      </a>
    </article>

  </div>

  <div class="col-md-3 col-xs-6">
    <article class="card">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2017-06
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>

      <a href="#families/{{family.familyId}}/snapshots/3">
      <div class="" id="family-snapshot">

          <img  class="center-block" src="/static/images/icon_semaforo.png">

          <span class="center-block" id="green">25</span>
          <span id="yellow">19</span>
          <span id="red">10</span>
      </div>
      </a>
    </article>

  </div>

</div>
