<div class="col-md-3 col-xs-6">
  <article class="card animated fadeInLeft">
    <div  class="card-block">
      <div class="card-title">
        <h4 >Snapshot {{createdAt}}
          <img class="pull-right" src="/static/images/icon_more.png" >
        </h4>
      </div>
    <a href="#families/{{snapshot.family_id}}/snapshots/{{snapshot.snapshot_indicator_id}}">
    <div class="" id="family-snapshot">
        <img  class="center-block" src="/static/images/icon_semaforo.png">
        <span class="center-block" id="green">{{snapshot.count_green_indicators}}</span>
        <span id="yellow">{{snapshot.count_yellow_indicators}}</span>
        <span id="red">{{snapshot.count_red_indicators}}</span>
    </div>
      </a>
  </article>
</div>
