<article class="card">
  <div class="card-block">
    <div class="card-title row">
      <p class="text-left text-blue">Snapshot {{createdAt}}</p>
    </div>
    <a href="#families/{{snapshot.family_id}}/snapshots/{{snapshot.snapshot_economic_id}}" style="text-decoration: none;">
      <div class="snapshot-indicators row">
        <div class="light">
          <span class="center-block light-green light-medium">{{snapshot.count_green_indicators}}</span>
          <span class="center-block light-yellow light-medium">{{snapshot.count_yellow_indicators}}</span>
          <span class="center-block light-red light-medium">{{snapshot.count_red_indicators}}</span>
        </div>
      </div>
    </a>
</article>
