<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <article class="card">

      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="card-title">
              <h4> Add a Hub
                <img class="pull-right" src="/static/images/icon_more.png">
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="margin-tb-35px" id="img-cam">
              <img id="image-logo" class="card-img-top img-responsive center-block select-file" src="/static/images/icon_camara.png" alt="" />
              <p id="image-logo-text" class="text-center select-file">Click to upload a logo</p>
              <div class="form-group">
                <input value="{{application.image}}" id="input-image-file" type="file" class="form-control" name="image" style="display: none;">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fp-form-container padding-b-30px" id="add-application">
              <form data-toggle="validator" role="form" class="form-vertical" id="form">
                <div class="alert alert-warning" style="display:none">
                  <strong>Attention! All the fields with * are mandatory</strong>
                </div>
                <div class="form-group">
                  <input value="{{application.name}}" type="text" class="input-bg-gray form-control" name="name" value="" placeholder="Hub name" required>
                </div>
                <div class="form-group">
                  <input value="{{application.code}}" type="text" class="input-bg-gray form-control" name="code" placeholder="Code" required>
                </div>
                <div class="form-group">
                  <input value="{{application.description}}" type="text" class="input-bg-gray form-control" name="description" placeholder="Description" required>
                </div>
                <div class="form-group">
                  <input value="{{application.information}}" type="text" class="input-bg-gray form-control" name="information" placeholder="information" required>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="submit" name="register-submit" id="submit" class="btn" value="Save">ADD HUB</button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="text-center">
                    <a href="#applications" id="cancel" tabindex="5" class="">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
